html, body {
  min-height: 100vh;
  margin: 0;
  /*background: var(--bg);*/
background: #111e2c;
background: linear-gradient(0deg, #111e2c, #27344e, #506d8f);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
