html, body {
  min-height: 100vh;
  margin: 0;
  /*background: var(--bg);*/
background: #819695;
background: linear-gradient(180deg,rgba(129, 150, 149, 1) 0%, rgba(58, 70, 74, 1) 37%, rgba(19, 23, 26, 1) 100%);


  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
